<div>
    <div class="jumbo">
        <div class="right tomster"></div>
        <h2>Create Rental</h2>
        <p>Here you can add more rentals to the list!</p>
    </div>
    <div class="jumbo">
        <form {{ action "createRental" on="submit" }} class="rental-form">
            <label for="title">Title</label>
            {{ input id="title" type="text" value=title class="rental-form-input" }}

            <label for="owner">Owner</label>
            {{ input id="owner" type="text" value=owner class="rental-form-input" }}

            <label for="city">City</label>
            {{ input id="city" type="text" value=city class="rental-form-input" }}

            <label for="category">Category</label>
            <select required name="categories" onchange={{ action "selectCategory" }} class="rental-form-input">
                <option disabled="disabled" selected="selected">Choose category</option>

                {{#each categories as |category|}}
                    <option value={{category}}>{{category}}</option>
                {{/each}}
            </select>

            <label for="bedrooms">Bedrooms</label>
            <Input @id="bedrooms" @value={{ this.bedrooms }} @keyDown={{ action "setBedrooms" }} class="rental-form-input" type="number" />

            <label for="image">Image</label>
            {{ input id="image" type="text" value=image class="rental-form-input" }}

            <label for="description">Description</label>
            {{ input id="description" type="text" value=description class="rental-form-input" }}

            <button type="submit" class="button rental-form-button">Create</button>
        </form>
    </div>
</div>
{{outlet}}